.screenprinting-container {
    min-height: 80vh;
}

.screen-primary-text-container {
    text-align: center;
}

.screen-primary-text {
    color: white;
}

.screen-img-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.screen-img {
    max-width: 20vw;
}

.screen-secondary-text-container {
    text-align: center;
}

.screen-secondary-text {
    color: white;
}

.screen-colorchart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    margin: 1vw 0 1vw 0;
}

.screen-colorchart-img {
    max-width: 85%;
}