.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    background-color: $dark;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75vw;
    margin: 2vw 0;
}

.footer-text {
    color: white;
    font-size: 5vw;
    margin: 0 1vw 0 1vw;
}

.footer-copyright{
   color: white;
   font-size: 2vw;
}