.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    background-color: $dark;
}

.footer-logo {
    max-width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: white;
}