header {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid $orange;
    background-image: url("/src/assets/img/phoenix-custom-printing-background.png");
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 35vh;
}